TELEGRAM_BOT_TOKEN=8279163968:AAEkunKPrIiiQEuMvRWrCGokzkWqR7r9Tr0
OPENAI_API_KEY=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
OWNER_TELEGRAM_ID=@GOODBOY3669
OPENAI_MODEL=gpt-4.1-mini
PORT=3000
RENDER_EXTERNAL_URL=https://你的-render-網址.onrender.com
WEBHOOK_PATH=/telegram/webhook
TELEGRAM_WEBHOOK_SECRET=KHKDGL;HKLDEKGHLOKSML;MEL;S
ALLOWED_CHAT_IDS=
